doctype
html
  head
    meta(charset='utf-8')
    include includes/styles
    title faq's
  body
    .container
      //- the header
      include includes/header
      article
      //- the footer
      include includes/footer
