@mixin layBack ($url) {
  background-image: url($url);
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
}

// the boolean value to select the type of the colorizing
@mixin color($bool) {
  @if $bool {
    color: $mainColor;
  } @else {
    background-color: $mainColor;
  }
}

// use the string to border or not
@mixin white($bool) {
  color: white;
  @if ($bool == "border") {
    border: 1px solid white;
  }
}

@mixin rad($rad) {
  border: none; border-radius: $rad;
}

%mainTran {
  transition: all .5s;
}


// the center extend
%center {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
