-
  var links = ["home", "contact", "testim", "about"];
  var icons = ["facebook", "twitter", "camera"];
  var features = [
    "fastly",
    "responsive",
    "lovely",
    "last feature"
  ];
  var fIcons = [
  "fa fa-home",
  "fa fa-mobile", 
  "fa fa-heart", 
  "fa fa-home"
  ];
  var works = [
    "azampo website",
    "create bootstrap framework",
    "a big xps in ui ux design and website creating",
    "azampo website",
    "create bootstrap framework",
    "a big xps in ui ux design and website creating"
  ];
  
  var imgs = [];
  for (var i in works) {
    imgs.push(`images/work${parseInt(i) + 1}.png`);
  }
