-
  var links = ["home", "contact", "testim", "about"];
  var icons = ["facebook", "twitter", "camera"];
  var features = [
    "fastly",
    "responsive",
    "lovely",
    "last feature"
  ];
  var fIcons = [
  "fa fa-home",
  "fa fa-mobile", 
  "fa fa-heart", 
  "fa fa-home"
  ];
