body {
  padding: 0px; margin: 0px;
  background-color: #DDD;
  * {
    font-family: tahoma;
    padding: 0px; margin: 0px;
    line-height: 1.25;
  }
  ul li, ol li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: black;
  }
  *:focus, *:active {
    outline: none;
  }
}
