// the variables
@import 'components/vars.scss';
// the includes
@import 'mixins/mixins.scss';
// the normalize
@import 'components/normalize.scss';
body {
  overflow-x: hidden;
  // the header
  @import 'components/header.scss';

  // the article
  article {
    background-color: white;
    // general sections rules
    section {
      padding: 25px 0px;
      .con {
        margin: 0px auto;
        display: block;
      }
    }

    // create the features section
    section.features {
      width: 100%; height: auto;
      .con {
        display: flex;
        width: 75%; flex-direction: row;
        justify-content: space-evenly;
        > * {
          width: 22%;
          text-align: center;
        }

        div.feature {
          > * {
            margin-bottom: 20px;
          }

          i {
            @extend %mainTran;
            display: block;
            width: $fetIconHeight; height: $fetIconHeight;
            @include rad(50%);
            border: 2px solid #AAA;
            margin: 0px auto 10px auto;
            line-height: $fetIconHeight;
            color: $mainColor;
            font-size: 30px;
            &:hover {
              @extend %mainTran;
              color: white;
              background-color: $mainColor;
              border-color: $mainColor;
            }
          }

          h3 {
            font-size: 25px;
          }

          p {
            font-size: 12px;
            font-weight: bolder;
            color: #BBBBBB;
          }
        }
      }
    }

    // create the subsecribe sections
    section.subs {
      @include layBack("../images/subscribe.png");
      padding: 50px 0px;
      form {
        display: flex;
        width: 100%; height: auto;
        justify-content: center;

        input {
          margin-right: -15px;
          padding: 0px 20px;
          width: 250px;
          height: 30px;
          line-height: 30px;
          border-radius: 5px 0px 0px 5px;
          border: 1px solid #AAA;

          &:focus {
            border: 1px solid blue;
            box-shadow: 0px 0px 15px blue;
          }
        }

        button {
          @extend %mainTran;
          box-sizing: content-box;
          -moz-box-sizing: content-box;
          -webkit-box-sizing: content-box;
          width: auto;
          height: 30px;
          line-height: 30px;
          border-radius: 0px 5px 5px 0px;
          border: 1px solid #AAA;
          padding: 0px 15px;
          cursor: pointer;
          background-color: $mainColor;
          color: white;
          font-weight: bolder;

          &:hover {
            @extend %mainTran;
            background-color: white;
            color: $mainColor;
          }
        }
      }
    }

    // createthe works section
    section.works#works {
      width: 100%; height: auto;
      padding: 25px 0px;

      > * {
        margin-bottom: 25px;
      }

      h1 {
        text-align: center;
        font-size: 30px;
        span {
          color: $mainColor;
        }
      }

      p {
        text-align: center;
        line-height: 1.25;
        width: 60%;
        margin: 0px auto 25px auto;
        color: #AAA;
      }

      div.con {
        display: grid;
        width: 90%;
        height: auto;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: auto auto auto;
        grid-column-gap: 5%;
        grid-row-gap: 25px;
        margin: 0px auto;

        div.box {
          position: relative;
          overflow: hidden;
          width: 100%; height: auto;
          @include rad(25px);

          div.overlay {
            @extend %mainTran;
            width: 100%; height: 100%;
            background-color: $mainColor;
            display: flex;  flex-direction: column;
            justify-content: center; align-items: center;
            position: absolute; z-index: 2;
            top: 0px ; left: 0px;
            opacity: 0;
            box-sizing: border-box;

            &:hover {
              opacity: .8;
            }

            h2 {
              width: 95%;
            }

            > * {
              margin-bottom: 15px;
            }

            * {
              text-align: center;
              color: white;
            }

            button {
              padding: 5px 25px;
              font-size: 16px;
              background: none;
              @include rad(10px);
              border: 1px solid white;
              cursor: pointer;

              &:hover {
                @extend %mainTran;
                background-color: white;
                color: $mainColor;
              }
            }
          }
        }
      }
    }
  }

  // the footer
  @import 'components/footer.scss';

  // the pop up window styling
  @import 'components/pop.scss';
}
